
@import "../../../scss/variables";
@import "../../../scss/typography";

.not-found {
    display: flex;
    height: max-content;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: #333;
    min-height: calc(100vh - 200px);
    align-items: center;
    justify-content: center;
    h5 {
        font-size: 26px;
        margin-bottom: 10px;
        color: #555;
    }

    p {
        font-size: 18px;
        margin-bottom: 15px;
        color: #777;
    }

     
}
#initial-search-page{
    min-height: calc(100vh - 85px);
}

.loader{
    h6,
    button{
        width: 100px;
        height: 40px;
    }
    h6{
        width: 150px;
    }
}

.job-title { 
    font-weight: 700;
    font-size: 18px;
    color: $color-n-800;
    line-height: 27px;
}

.exp-level,
.category,
.Keyword {
    font-family: $font-family-open-sans;
    font-size: $font-b4;
    color: $color-n-800;
    line-height: 18px;
    padding: 0px 6px;
    background-color: $color-n-200;
    border-radius: 2px;
}

.company-name,
.company-location {
    font-family: $font-family-open-sans;
    font-weight: 600;
    font-size: $font-b4;
    color: $color-n-800;
    line-height: 18px;
}

.unsave-btn {
    padding: 3px 5px;
    font-family: $font-family-open-sans;
    font-weight: 600;
    font-size: $font-b4;
    color: $color-sec-500;
    line-height: 18px;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: 0.6s all;

    &:hover{
        border-color: white;
        background-color:$color-sec-500 ;
        color: white;
    }

    .bookmark {
        font-size: 15px;
    }
}

.main-body{
    margin-top: 30px;
    border: 1px solid #e5e7eb;
}

.search-card{
  padding: 20px;
  margin-top: 30px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  cursor: pointer;
}


.loader{
    padding: 0 30px;
    .companies-term {
        border: none !important;  
        padding: 2rem;
        width: 100%;
        margin:40px auto ;
        box-shadow: none;
        width: 75%;
        @media (max-width:992px) {
            width: 100%;
        }
        .animate-pulse {
            animation: pulse 1.5s ease-in-out infinite;
        }
    
        .card {
            display: flex;
            gap: 2rem;
            padding: 2rem;
            border-bottom: 1px solid #ebebeb; 
    
            .card-avatar {
            .image-placeholder {
                background-color: #7180969a;
                border-radius: 50%;
                width: 5rem;
                height: 5rem;
                margin-top: 10px;
            }
            }
    
            .card-info {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;
    
            .company-title, .company-tagline, .company-subscribes, .company-rank {
                .line {
                background-color: #7180969a;
                height: .8rem;
                border-radius: 0.5rem;
    
                &.wide {
                    width: 60%;
                }
    
                &.narrow {
                    width: 33.33%;
                }
                }
    
                .image-placeholder {
                &.small {
                    background-color: #7180969a;
                    border-radius: 50%;
                    width: 2rem;
                    height: 2rem;
                }
                }
            }
            }
        }
    
        .see-all {
            .line {
            background-color:#7180969a;
            height: 1rem;
            border-radius: 0.5rem;
    
            &.wide {
                width: 6rem;
            }
            }
    
            .image-placeholder {
            &.small {
                background-color: #7180969a;
                border-radius: 50%;
                width: 1rem;
                height: 1rem;
            }
            }
        }
        }
}


@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}


.title {
    margin-bottom: 1rem;

    .title-line {
      background-color: #7180969a;
      height: 2.5rem;
      width: 13rem;  
      border-radius: 0.5rem;
    }
  }

  .search-filtering-words {
    background-color: white !important;  
    border-radius: 6px;
    padding: 2.5rem 8rem;  
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
    .filtering-words-btn {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 2.5rem; // gap-10
      padding-left: 1.25rem; // ps-5
  
      .btn-placeholder {
        background-color: #7180969a;
        width: 10rem;
        height: 5rem;
        border-radius: 35px;
      }
    }
  }

  
.rounded-6{
    border-radius: 6px;
}

.global-input {
    padding: 11px 12px;
    border-radius: 4px;
    border: 1px solid $color-n-800;
    font-size: $font-l3;
    color: $color-n-800;
    line-height: $line-height-body;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: $color-n-500;
    }
}
.active{
    border-color: white;
    background-color:$color-sec-500 ;
    color: white;
}
