// Define color variables
$color-p-500: #e0f780;
$color-p-300: #e6f999;
$color-p-100: #ecfab3;
$color-n-900: #1f2223;
$color-n-800: #033f47;
$color-n-700: #2f5d64;
$color-n-600: #627d81;
$color-n-500: #a1b3b6;
$color-n-400: #c6d2d5;
$color-n-300: #e2e8e9;
$color-n-200: #f5f9fa;
$color-n-100: #f8f8f1;
$color-n-50: #f6f6f6;


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(54, 68, 63, 0.4);
  }
  .flipping {
   height: 22.4px;
   display: grid;
   grid-template-columns: repeat(5, 22.4px);
   grid-gap: 5.6px;
}

.flipping div {
   animation: flipping-owie1ymd 1.25s calc(var(--delay) * 1s) infinite ease;
   background-color: #e0f780;
}

.flipping div:nth-of-type(1) {
   --delay: 0.25;
}

.flipping div:nth-of-type(2) {
   --delay: 0.5;
}

.flipping div:nth-of-type(3) {
   --delay: 0.75;
}

.flipping div:nth-of-type(4) {
   --delay: 1;
}

.flipping div:nth-of-type(5) {
   --delay: 1.25;
}

@keyframes flipping-owie1ymd {
   0% {
      transform: perspective(44.8px) rotateY(-180deg);
   }

   50% {
      transform: perspective(44.8px) rotateY(0deg);
   }
}