@import url("../company-profile/company-profile.component.scss");




#subscribe{
  border: 2px solid #2b786c;
  background: white;
  color: #2b786c;
  transition: all .3s;
  &:hover{
    background-color: #2b786c;
    color:white;
  }

}

#benefits-section{
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  gap: 20px;
}
.active{
  background-color: #2b786c !important;
  color:white !important;
}
.benefit-card{
  display: flex;
  align-items: center;
  border: 2px solid rgb(243, 243, 243);
  border-radius: 4px;
  padding: 20px;
  gap: 15px;
  width: 265px;
}
