<div class="change-password-request">
  <div class="container flex justify-center items-center my-0 mx-auto h-full">
    <div class="set-verifacation-email h-auto w-auto ">
      <div class="logo-image w-full flex items-center justify-center">
        <img src="../../../../../assets/imgs/LOGO.svg" alt="">
      </div>
      <div class="title">
        <h5 class="text-4xl text-center font-semibold">Forget password ?</h5>
        <p class="text-2xl mt-3 text-center">We will send you a link to reset your password.</p>
      </div>
      <form [formGroup]="checkEmailform" (ngSubmit)="SendRequest()" class="reset-password-form mt-3 mb-10">
        <div class="email-holder mx-auto mt-9">
          <input class="w-full  " formControlName="email" type="email" name="email" id="email"
            placeholder="Enter your email address">
          <img src="../../../../../assets/imgs/email.svg" alt="">
        </div>
        <div class="error-message pl-1" *ngIf="checkEmailform.touched && (checkEmailform.get('email')?.hasError('required') ||
                         !checkEmailform.valid)||(linkClicked)">
          Eamil is required
        </div>
        <div class="error-message pl-1" *ngIf="checkEmailform.get('email')?.hasError('email')">
          Enter valid email
        </div>
        <div class="error-message pl-1" *ngIf="isError">
          {{errorMessage}}
        </div>
        <button type="submit" class="reset-button w-full text-center mt-9">Reset password</button>
      </form>
      <div class="card-footer text-center pt-5 ">
        <p class="text-2xl font-semibold">Didn’t receive any email ?<a (click)="resendEmail()">resend email</a></p>
      </div>
    </div>
  </div>
  <div *ngIf="messagePanale" class="message-panle">
    <div class="container grid justify-center align-middle gap-6">
      <div class="box">
        <img src="../../../../../assets/imgs/email-check.png" alt="">
        <p>Check your email to reset password</p>
      </div>
    </div>
  </div>
</div>