@import "../../../../../scss/variables";
@import "../../../../../scss/typography";

.btn {
  padding: 7px 7px;
  background-color: $color-n-300;
  color: $color-n-600;
  font-size: $font-l2;
  border-radius: 3px;
  font-family: $font-family-open-sans;
  font-weight: 700;
  line-height: $line-height-heading;
  transition: 0.4s all;
  &:hover {
    background-color: $color-n-400;
  }
}
.all-language-cart {
  .global-rounde {
    border-radius: 8px;
  }
  .language-info {
    .global-section-label {
      color: $color-n-800;
      font-size: $font-l2;
      font-family: $font-family-open-sans;
      line-height: $line-height-body;
      font-weight: 600;
      .span-text {
        color: $color-n-600;
        font-weight: 400;
        font-size: $font-l3;
      }
    }

    .global-small-label {
      font-size: $font-l3;
      font-family: $font-family-open-sans;
      font-weight: 400;
      color: $color-n-800;
      line-height: $line-height-body;
    }

    .global-input {
      padding: 11px 12px;
      border-radius: 4px;
      border: 1px solid $color-n-800;
      font-size: $font-b3;
      color: $color-n-800;
      line-height: $line-height-body;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $color-n-800;
      }
    }
    .global-button {
      padding: 13px 24px;
      background-color: $color-sec-300;
      color: $color-white;
      font-size: $font-l2;
      border-radius: 4px;
      font-family: $font-family-open-sans;
      font-weight: 700;
      line-height: $line-height-heading;
      transition: background-color 0.2s;
      &:hover {
        background-color: $color-sec-500;
      }
      &:disabled {
        background-color: $color-sec-100;
      }
    }
    .language{
      font-size: 16px;
      color: $color-n-700;
    }
  }
}
@media (max-width: 767.98px) {
  .all-language-cart {
    .language-info {
      .global-input {
        font-size: 16px;
        padding: 11px 8px;
      }
    }
  }
}
