// Heading font size
$font-h1: 72px;
$font-h2: 64px;
$font-h3: 56px;
$font-h4: 48px;
$font-h5: 40px;
$font-h6: 32px;
$font-h7: 24px;
$font-h8: 20px;
$font-h9: 16px;
$font-h10: 12px;
$font-h11: 18px;

// Body Font Size
$font-b1: 32px;
$font-b2: 24px;
$font-b3: 16px;
$font-b4: 12px;
$font-b5: 8px;

// Lable Font Size
$font-l1: 20px;
$font-l2: 16px;
$font-l3: 14px;
$font-l4: 12px;
$font-l5: 8px;

// Body Line Height
$line-height-body: 150%;

// Heading Line Height
$line-height-heading: 115%;

// Heading Line Height
$line-height-label: 125%;

// font family
$font-family-crimson: "Crimson Text", serif;
$font-family-open-sans: "Open Sans", sans-serif;
$font-family-inter: "Inter", sans-serif;
