// Global Colors

// primary
$color-p-500: #e0f780;
$color-p-300: #e6f999;
$color-p-100: #ecfab3;

// Neutral
$color-n-900: #1f2223;
$color-n-800: #033f47;
$color-n-700: #2f5d64;
$color-n-600: #627d81;
$color-n-500: #a1b3b6;
$color-n-400: #c6d2d5;
$color-n-300: #e2e8e9;
$color-n-200: #f5f9fa;
$color-n-100: #f8f8f1;
$color-n-50: #f6f6f6;
// Accent
$color-ac-500: #c2df45;
$color-ac-300: #f3fcd0;
$color-ac-100: #f8f8f1;


// Secondary
$color-sec-500: #2b786c;
$color-sec-300: #559389;
$color-sec-100: #80aea7;

// white
$color-white: #fff;

// =========================================

// Break Points
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;