<section class="job-posts-page  flex flex-col justify-between  ">
  <div class="container  flex flex-col gap-14 ">
    <div class="  vip-margin rounded-3xl ">
      <div class="shadow-sm containing-header bg-white py-8 px-14 flex items-center justify-between">
        <div class="flex items-center gap-32 vip-div" *ngIf="isCompany">
          <div class="flex flex-col gap-1 justify-center  ">
            <div class="small-title">
              <i class="fas fa-briefcase"></i>
              <p>Active Jobs</p>
            </div>
            <div class="numbers">
              <p>{{companyStatistics?.companyActiveJobsNumber}}</p>
            </div>
          </div>
          <div class="flex flex-col gap-1 justify-center  w-fit">
            <div class="small-title">
              <i class="fas fa-hourglass-half"></i>
              <p>Pending Invitations</p>
            </div>
            <div class="numbers">
              <p>{{companyStatistics?.pendingInvitations}}</p>
            </div>
          </div>
          <div class="flex flex-col gap-1 justify-center ">
            <div class="small-title">
              <i class="fas fa-users"></i>
              <p>Active members</p>
            </div>
            <div class="numbers">
              <p>{{companyStatistics?.companyMembersNumber}}</p>
            </div>
          </div>
        </div>
        <div class="flex items-center gap-32 vip-div" *ngIf="!isCompany">
          <div class="flex flex-col gap-1 justify-center  ">
            <div class="small-title">
              <i class="fas fa-briefcase"></i>
              <p>Active Jobs</p>
            </div>
            <div class="numbers">
              <p>{{recruiterStatistics.activePostsNumber}}</p>
            </div>
          </div>
          <div class="flex flex-col gap-1 justify-center ">
            <div class="small-title">
              <i class="fas fa-hourglass-half"></i>
              <p>Active members</p>
            </div>
            <div class="numbers">
              <p>{{recruiterStatistics.companyNumberOfMembers}}</p>
            </div>
          </div>
        </div>
        <div [routerLink]="['/company/job-posts/add']" class=""><button class="global-button btn">Create a new
            job</button></div>
      </div>
    </div>
    @if (companyJobPosts&&companyJobPosts.length>0) {
    <div class="all-under-part flex flex-col  gap-10 m-auto">
      <div class="bg-white p-10 shadow-sm rounded-2xl flex flex-col gap-8 cursor-pointer"
        *ngFor="let post of companyJobPosts; let i = index;" [routerLink]="'/app-page/'+post.id">
        <div class="flex flex-col gap-16">
          <div class="flex items-center justify-between ">
            <div class="">
              <p class="global-section-label"><span> {{post.jobTitle}} </span> <span class="global-span-text ms-3">
                  {{post.employmentType}} . {{post.companyLocation}}
                </span></p>
            </div>
            <div class=" flex items-center justify-center">
              <div class="" *ngIf="post.draft"><button class="global-button publish-btn"
                  (click)="publishDraft(post)">Publish</button></div>
              <div class="relative " (mouseleave)="closeDropDown(isJobOpen, i)"
                (mouseover)="openDropDown(isJobOpen, i)">
                <button id="dropdown" data-dropdown-toggle="dropdown"
                  class="py-5 px-8  flex items-center  rounded-xl containing-vertical-more">
                  <i class="vertical-more fa-solid fa-ellipsis-vertical"></i>
                </button>
                <!-- Dropdown menu -->
                <div id="dropdown" class="containing-dropdown absolute right-0   bg-white  rounded-lg shadow-sm w-80 "
                  *ngIf="isJobOpen[i]">
                  <ul class="dropdownlist py-2 " aria-labelledby="dropdownDefaultButton">
                    <li>
                      <a [routerLink]="['/company/job-posts/edit', post.id]" class="block px-6 py-2">Edit job</a>
                    </li>
                    <li (click)="closeJob(post.id)">
                      <a class="block px-6 py-2">Close job</a>
                    </li>
                    <li (click)="deleteJob(post.id)">
                      <a class="block px-6 py-2">Delete job</a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
          <div class="containing-sub-div grid  lg:grid-cols-6 grid-cols-3 gap-8 m-auto">
            <div class="p-5 line-border flex flex-col gap-3 items-center justify-center">
              <div class="numbers">
                <p>{{post.numberPerStatus.applied}}</p>
              </div>
              <div class="title">
                <p>Applied</p>
              </div>
            </div>
            <div class="p-5 line-border flex flex-col gap-3 items-center justify-center">
              <div class="numbers">
                <p>{{post.numberPerStatus.phoneScreen}}</p>
              </div>
              <div class="title">
                <p>Phone Screen</p>
              </div>
            </div>
            <div class="p-5 line-border flex flex-col gap-3 items-center justify-center">
              <div class="numbers">
                <p>{{post.numberPerStatus.assessment}}</p>
              </div>
              <div class="title">
                <p>Assessment</p>
              </div>
            </div>
            <div class="p-5 line-border flex flex-col gap-3 items-center justify-center">
              <div class="numbers">
                <p>{{post.numberPerStatus.interview}}</p>
              </div>
              <div class="title">
                <p>Interview</p>
              </div>
            </div>
            <div class="p-5 line-border flex flex-col gap-3 items-center justify-center">
              <div class="numbers">
                <p>{{post.numberPerStatus.offer}}</p>
              </div>
              <div class="title">
                <p>Offer</p>
              </div>
            </div>
            <div class="p-5 line-border flex flex-col gap-3 items-center justify-center">
              <div class="numbers">
                <p>{{post.numberPerStatus.hired}}</p>
              </div>
              <div class="title">
                <p>Hired</p>
              </div>
            </div>
          </div>
          <div class="publish-info w-full flex gap-3 items-center   justify-end">
            <div class="">
              <p class="text">Last candidate: 2 hours ago </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    }@else {
    <div class="flex flex-col  gap-10 m-auto">No posts to show</div>
    }
    <div #overlay class="overlay"></div>
    <div #closeJobDialog class="dialog ">
      <button class="close-btn" (click)="closeDialog(closeJobDialog)"><i class="fas fa-times"></i></button>
      <img src="../../../../../assets/imgs/Deleted account.png" alt="Image">

      <h2>Are you sure you want to close this job?</h2>
      <p>Once closed, no one will be able to apply for this job.</p>
      <div class="buttons flex ">
        <button (click)="closeDialog(closeJobDialog)">Cancel</button>
        <button (click)="confirmClose()">Close Job</button>
      </div>
    </div>
    <div #deleteJobDialog class="dialog">
      <button class="close-btn" (click)="closeDialog(deleteJobDialog)"><i class="fas fa-times"></i></button>
      <img src="../../../../../assets/imgs/Deleted account.png" alt="Image">
      <h2>Are you sure you want to delete this job?</h2>
      <p>Once deleted, this job will be removed permanently and cannot be recovered.</p>
      <div class="buttons flex">
        <button (click)="closeDialog(deleteJobDialog)">Cancel</button>
        <button (click)="confirmDelete()">Delete Job</button>
      </div>
    </div>
    <div #publishJobDialog class="dialog">
      <button class="close-btn" (click)="closeDialog(publishJobDialog)"><i class="fas fa-times"></i></button>
      <img src="../../../../../assets/imgs/file.svg" alt="Image">
      <h2>Are you sure you want to publish this job?</h2>
      <p>Publish this job will make it available for any one to see.</p>
      <div class="buttons flex">
        <button (click)="closeDialog(publishJobDialog)">Cancel</button>
        <button (click)="confirmPublishDraft()">Publish Job</button>
      </div>
      <!-- mohamed -->
    </div>
    <div #successMessageDialog class="dialog">
      <button class="close-btn" (click)="closeDialog(successMessageDialog)"><i class="fas fa-times"></i></button>
      <img src="../../../../../assets/imgs/Deleted account.png" alt="Success Image">
      <h2>{{successMsg}}</h2>
      <p>You will no longer see this job in your list.</p>
      <div class="buttons flex">
        <button class="main-btn" (click)="closeDialog(successMessageDialog)">Close</button>
      </div>
    </div>
    <div #errorMessageDialog class="dialog">
      <button class="close-btn" (click)="closeDialog(errorMessageDialog)"><i class="fas fa-times"></i></button>
      <img src="../../../../../assets/imgs/500 Internal Server Error-amico.png" alt="Error Image">
      <h2>Error</h2>
      <p>{{errorMsg}}<br> Please try again later or contact support for assistance.</p>
      <div class="buttons flex">
        <button class="main-btn" (click)="closeDialog(errorMessageDialog)">Close</button>
      </div>
    </div>

  </div>
</section>