@import "../../../../scss/_variables.scss";
@import "../../../../scss/_typography.scss";

.navbar {
  background-color: $color-n-800;

  .icon {
    font-size: 20px;
    opacity: 0.7;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem; 

    @media screen and (max-width: $breakpoint-small) {
      padding-top: 4rem;
      padding-bottom: 3rem;
    }

    .containing-all-search {
      @media (max-width: 1199.98px) {
        width: 95%;
      }

      @media (max-width: 767.98px) {
        max-width: 100%;
        font-size: 14px;
      }
    }

    .containing-all-search {
      @media (max-width: 991.98px) {
        width: 100%;
      }
    }

    .search-bar {
      position: relative;

      .search-icon {
        position: absolute;
        padding: 0 1.2rem;
        top: 0;
        bottom: 0;
        left: 0;
      }

      .input-container {
        input {
          border: solid $color-n-400 1px;
          outline: none;
          padding: 1rem;
          padding-left: 7rem;
          border-radius: .8rem;
          font-size: $font-b3;
          color: $color-n-700;
          font-weight: 400;
          font-family: $font-family-open-sans;
        }
      }
    }
  }

  .nav-logo {
    display: flex;
    width: 20.5rem;
    // height: 11rem;
    align-items: center;
    justify-content: center;

    img {
      height: 9rem;
      margin-top: 2rem;
    }
  }

  .nav-logo-loggedin {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 12rem;
      max-width: 19rem;
    }
  }

  .nav-login-option {
    display: flex;
    align-items: flex-start;
    gap: 4rem;

    @media screen and (max-width: $breakpoint-small) {
      gap: 2rem;
    }

    a {
      display: flex;
      padding: 1.5rem 3rem;
      justify-content: center;
      align-items: center;
      /* font */
      text-align: center;
      font-family: Open Sans;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 125%;
      cursor: pointer;

      @media screen and (max-width: $breakpoint-medium) {
        padding: 2rem 2.5rem;
        font-size: 3.2rem;
      }
    }

    .btn {
      background: $color-p-500;
      border: 0;
      transition: all 0.3s;
      color: $color-n-800;
      width: max-content;

      @media screen and (max-width: $breakpoint-medium) {
        padding: 1.5rem 2.5rem;
        font-size: 2.5rem;
      }

      &:hover {
        background-color: $color-sec-500;
        color: $color-white;
      }
    }

    .job-seeker-btn {
      background-color: transparent;
      border: 1px solid $color-p-500;
      color: $color-p-500;

      &:hover {
        background-color: $color-sec-500;
        color: $color-white;
        border: 1px solid $color-sec-500;
      }
    }
  }

  a.profile-image-container {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: $color-white;
    overflow: hidden;
  }
  .notification-image{
    width: 5rem;
    height: 5rem;
    margin: 0 2px;
    img {
      height: 100%;
      max-width: fit-content;
    }

    @media (max-width: $breakpoint-medium) {
      width: 7rem;
      height: 7rem;
    }
  }
  .profile-image {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: solid 1px $color-n-300;
    margin: 0 2px;

    img {
      height: 100%;
      max-width: fit-content;
    }

    @media (max-width: $breakpoint-medium) {
      width: 7rem;
      height: 7rem;
    }
  }

  ul.profile-links {
    display: none;

    @media (min-width: $breakpoint-medium) {
      display: flex;
      min-width: 80%;
    }

    list-style: none;

    li {
      a {
        font-weight: 400;
        font-size: 14px;
        padding: 0 20px;
        color: white;
      }
    }

    & .link-hover {
      transition: 0.2s all;

      &:hover {
        color: $color-p-500;
      }
    }
  }

  .mobile-links {
    display: block;

    @media (min-width: $breakpoint-medium) {
      display: none;
    }
  }
}

.nav-simple {
  background-color: $color-ac-100;

  .nav-login-option {
    .job-seeker-btn {
      background: $color-sec-500;
      background-color: $color-sec-500;
      color: $color-white;
      border: none;
      transition: all 0.3s;

      &:hover {
        opacity: 0.8;
        background-color: $color-sec-500;
        color: $color-white;
        border: none;
      }
    }
  }
}

.drop-down-arrow {
  transition: all 0.2s;
  border-radius: 50%;

  &.up-arrow {
    transform: rotate(-180deg);
  }
}

.drop-down {
  display: none;
  transition: all 0.4s;
  position: absolute;
  background-color: white;
  border-radius: 3px;
  right: 0;
  top: 130%;
  font-weight: 300;
  display: grid;
  grid-template-rows: 1fr;
  transition: all 0.5s ease-in-out;
  width: max-content;

  & > div {
    overflow: hidden;

    & > * {
      padding-top: 15px;
      padding-bottom: 15px;

      &:is(:last-child) {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  &.hide-drop-down {
    grid-template-rows: 0fr;
    transition: all 0.5s ease-in-out;
    padding-top: 0;
    padding-bottom: 0;
  }

  div {
    cursor: pointer;
  }

  .drop-item {
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.3s;
    min-height: 40px;
    color: #627d81;
    transition: 0.2s all;

    &:hover {
      background-color: $color-sec-500;

      color: white;
    }

    i {
      font-size: 18px;
      padding-right: 5px;
    }
  }

  .setting-info {
    border-bottom: 1px solid #d2d3d3;

    .container {
      font-size: $font-b4;
    }
  }

  .help-info {
    font-size: $font-b4;
  }

  .logout-img {
    width: 24px;
    height: 21px;
  }
}

.notification-list {
  width: 400px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  .drop-down-header,
  .drop-down-footer {
    padding: 25px 20px;
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: none;
    }

    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h4 {
        font-size: 17px;
        font-weight: bold;
        color: #033f47;
      }

      .mark-all {
        a {
          font-size: 14px;
          color: #2b786c;
          text-decoration: none;
          display: flex;
          align-items: center;

          i {
            margin-right: 5px; // Space between icon and text
            font-size: 16px; // Adjust icon size if needed
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .drop-down-footer {
    border-top: 1px solid #ddd;
    text-align: center;

    p {
      margin: 0;

      a {
        font-size: 14px;
        color: #2b786c;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .list {
    max-height: 300px;
    overflow-y: scroll;
    padding: 0 !important;
  }

  .notification-item {
    padding: 15px 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;

    &:hover,
    &.read {
      background-color: #f9f9f9;
    }

    .flex {
      display: flex;
      align-items: center;
    }

    .icon {
      background-color: #f0f0f0;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      min-width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;

      i {
        font-size: 20px;
        color: #2b786c;
      }
    }

    .notification-body {
      display: flex;
      flex-direction: column;

      .title {
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        color: #033f47;
      }

      .body {
        font-size: 12px;
        color: #666;
        margin: 5px 0 0;
        width: 100%;
      }
    }
  }

  .empty-list {
    text-align: center;
    padding: 30px 15px;

    .image {
      margin-bottom: 15px;
      display: flex;
      justify-content: center;

      img {
        width: 200px !important;
        height: auto;
        padding: 15px 0;
      }
    }

    h4 {
      font-size: 16px;
      color: #033f47;
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 16px;
    }
  }

  .border {
    padding: 15px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .animate-pulse {
      display: flex;
      align-items: center;

      .bg-slate-700 {
        background-color: #e0e0e0;
      }

      .rounded-full {
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }

      .flex-1 {
        flex: 1;
        padding-left: 15px;

        .space-y-6 {
          margin-top: 10px;

          .h-2 {
            height: 12px;
            background-color: #e0e0e0;
            border-radius: 4px;
          }

          .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 8px;

            .col-span-2 {
              grid-column: span 2;
            }

            .col-span-1 {
              grid-column: span 1;
            }
          }
        }
      }
    }
  }
}

.loading-animation {
  width: 100%;
  min-width: 100%;
  border: none !important;
  box-shadow: none !important;
  background: #fff !important;
}

.view-more {
  margin: 0 auto !important;
  display: flex;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}

.notification-image {
  position: relative;
  .notification-count {
    position: absolute;
    background-color: #033f47;
    color: white;
    font-size: 8px;
    padding: 2px 4px;
    border-radius: 5px;
    top: 8px;
    right: 7px;
    font-weight: 500;
  }
}

.search-icon{
  cursor: pointer;
}

.search-container {
  position: relative;  
}
 

.suggestions-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-top: none;  
  background: white;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
}

.suggestions-container.no-border {
  border: none;
}

.suggestion {
  font-size: 16px;
  padding: 8px 15px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f0f0f0;
}

.input-container{ 
  input{
    min-width: 600px;
    @media (max-width:1200px) {
      min-width: 350px; 
    }
  } 


}

.fa-solid.fa-angle-down.text-white {
  font-size: 16px;
}

.navbar{
  @media (max-width:$breakpoint-medium) {
    #search-input {
      width: 200px;
      min-width: 200px;
      font-size: 12px;
      margin-left: 25px;
      max-width: 200px;
      padding: 6px 14px;
    }
    .search-nav  {
      justify-items: end;
      justify-content: end;
    }
    
    
    .notification-image ,.notification-image img ,
    .profile-image ,.profile-image img {
      width: 25px;
      height: 25px;
    }
    .drop-down-arrow,.nav-links,.search-icon {
      display: none;
    }
    .drop-down.shadow-xl.z-10.notification-drop-down {
      right: -30px;
      top: 35px;
    }
    .notification-list {
      width: 365px;
    }
  }
  @media (max-width:992px) {
    .nav-links{
      display: none;
    }
    .search-links-container{
      justify-content: end;
    }
  }
}