@import "../../../scss/variables";
@import "../../../scss/typography";

section {
  background-color: #f8f8f1;
  font-size: 16px;
  color: #033f47;
  font-family: $font-family-open-sans;

  .container {

    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;


    @media (min-width: 1024px) {
      border-bottom: 1px solid #D2D3D3;
      padding-block: 6rem;
    }


  }

  @media (max-width: $breakpoint-small) {
    font-size: 14px;
  }
}


// applies to xx-large
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

// applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }

}

//  applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}

// applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }

}

//  applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }


}

//  applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .container {
    max-width: 95%;
  }
}


















.profile-box {
  width: 100%;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #033f47;
  padding: 20px;
  margin-bottom: 20px;

  h4 {
    font-weight: 600;
  }

  p.muted {
    color: #627d81;
  }
}

.section-header {
  font-family: $font-family-open-sans;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  gap: 15px;

  h3 {
    font-size: 28px;
    font-weight: 600;
    font-family: $font-family-crimson;

    @media (max-width: $breakpoint-small) {
      font-size: 24px;
    }
  }
}

.edit-button {
  background-color: #c6d2d5;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 3px;
  font-size: 14px;
  padding: 3px 10px;
  color: #627d81;
  cursor: pointer;

  &:hover {
    color: #526669;
  }

  @media (max-width: $breakpoint-small) {
    font-size: 12px;
  }
}

a {
  cursor: pointer;
}

.r-border {
  @media (min-width: 1024px) {
    border-right: 1px solid #d2d3d3;
    padding-right: 60px;
  }
}

.l-border {
  @media (min-width: 1024px) {
    border-left: 1px solid #d2d3d3;
    padding-left: 60px;
  }
}

.t-border {
  @media (max-width: 1024px) {
    border-top: 1px solid #d2d3d3;
    padding-top: 60px;
  }
}

.b-border {
  @media (max-width: 1024px) {
    border-bottom: 1px solid #d2d3d3;
    padding-bottom: 60px;
  }
}

.p-top {
  @media (max-width: 1024px) {
    padding-top: 60px;
  }
}

.p-bottom {
  @media (max-width: 1024px) {
    padding-bottom: 60px;
  }
}

.p-right {
  @media (min-width: 1024px) {
    padding-right: 45px;
  }
}

.p-left {
  @media (min-width: 1024px) {
    padding-left: 45px;
  }
}

.language-certifications {
  width: 100%;

  @media (min-width: 1024px) {
    max-width: 35%;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @media (min-width: 1024px) {
      display: block;
    }

    .profile-box {
      @media (max-width: 1024px) {
        flex-grow: 1;
        width: max-content;
      }
    }
  }
}

.general-info {
  @media (min-width: 1024px) {
    padding: 20px 0;
  }

  .container {
    .img-about-container {
      .user-image {
        margin-bottom: 20px;

        img {
          margin: 0 auto;
          height: 200px;
          width: 200px;
          border-radius: 100%;
        }
      }
    }

    .info {
      min-width: 50%;
      display: grid;
      align-items: center;
      gap: 10px;
      font-weight: 500;

      .name-age {
        .name {
          font-size: 22px;
          font-weight: 600;
        }
      }

      .job-status {
        .status-button {
          padding: 5px 15px;
          border-radius: 20px;
          color: white;
          background-color: #627d81;
          width: fit-content;
        }
      }

      .job-preferal {
        .job-preferal-list {
          gap: 10px;
          margin-top: 10px;

          li {
            p {
              color: #fff;
              background-color: #80aea7;
              padding: 5px 15px;
              border-radius: 20px;
              transition: 0.4s all ease-in-out;

              &:hover {
                background-color: #2b786c;
              }

              @media (max-width: $breakpoint-small) {
                font-size: 12px;
              }
            }
          }
        }
      }

      .job-preferal-hashes {
        .hashes {
          gap: 10px;
          margin-top: 10px;

          li {}
        }
      }

      .salary {
        .head {}
      }

      .social {
        .links {
          margin-top: 10px;

          li {
            a {
              i {
                font-size: 26px;
                color: #2b786c;
              }
            }
          }
        }
      }
    }
  }
}

.about-edu {
  height: max-content;

  .container {
    .about {
      width: 100%;
    }

    .edu {
      width: 100%;

      .content {
        .edu-box {
          display: grid;
          gap: 5px;
          margin-bottom: 20px;

          .univ-degree {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .univ {
              font-weight: 500;
            }

            .date {
              color: #627d81;
            }
          }

          .grade {
            color: #627d81;
          }
        }
      }
    }
  }
}

.exp-language {
  .container {
    .experience {
      width: 100%;

      .profile-box {
        .job-title {
          padding: 10px 0;
          border-bottom: 1px solid #d2d3d3;
        }

        .job-details {
          padding: 15px 0;
          width: 100%;

          @media (max-width: $breakpoint-small) {
            flex-direction: column;
          }

          .company-details {
            width: 35%;

            @media (max-width: $breakpoint-small) {
              width: 100%;
              padding-bottom: 10px;
            }
          }
        }

        .discription {
          width: 60%;
          padding-left: 20px;
          border-left: 1px solid #d2d3d3;

          @media (max-width: $breakpoint-small) {
            width: 100%;
            padding: 0;
            border: none;
          }
        }
      }
    }
  }
}

.cv-viewer {
  .resume-container {
    width: 100%;

    .section-header {}

    .viewer {
      object {
        width: 100%;
        margin: auto;
      }
    }
  }
}

.project-sample {
  padding-bottom: 30px;

  .container {
    border: none;

    .projects {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      height: fit-content;
      gap: 25px;

      .project-card {
        width: 300px;
        height: 460px;
        border-radius: 8px;
        margin: 15px 0;
        overflow: hidden;

        &:hover {
          .project-image {

            .top-icons,
            .center-icons,
            .hover-background {
              visibility: visible;
              opacity: 1;
            }
          }


        }

        .project-image {
          width: 100%;
          background: #eee;
          height: 60%;
          border-top-left-radius: 8px;
          border-top-right-radius: 10px;
          position: relative;
          color: #033f47;

          .top-icons {
            padding: 20px;
            top: 0;
            right: 0;
            z-index: 100;
          }

          .center-icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            min-width: 80px;
            z-index: 100;
            top: 50%;
            right: calc(50% - 40px);
          }

          .hover-background {
            height: 100%;
            width: 100%;
            top: 0;
            right: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            z-index: 99;
            background: #00000042;
          }

          .top-icons,
          .center-icons,
          .hover-background {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            transition: all 0.4s;

            i {
              cursor: pointer;
              font-size: 18px;
            }
          }
        }

        .project-image:hover {
          overflow: hidden;

          .sample-img {
            transform: scale(1.1);
            transition: 0.4s all;
          }
        }


        .project-info {
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
          min-height: 40%;
          height: fit-content;
          padding: 20px;
          background: white;

          .project-title {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 5px;
          }

          .project-discription {
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
    }
  }
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #033f47;

  p {
    font-size: 12px;
    font-weight: 400;
    color: #eee;
  }
}

.loading {
  background-color: $color-n-300;
}

.hidden {
  display: none;
}

.show-more-experience {
  button {
    padding: 5px 10px;
    background-color: #80aea7;
  }
}

// =======================

.empyt-message {
  font-size: $font-h8;
  min-height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $breakpoint-medium) {
    font-size: $font-h9;
    min-height: 20rem;
  }

  @media (max-width: $breakpoint-small) {
    font-size: $font-h9;
  }
}

:host {
  ::ng-deep .owl-item {
    max-width: 400px;
  }
}

