<header class="profile-header">
  <div class="container flex justify-between items-center">
    <div class="logo">
      <a routerLink="/">
        <img class="" src="../../../../assets/imgs/onbording/LOGO.svg" alt="">
      </a>
    </div>
    <div class="nav-bar">
      <ul class="profile-links  justify-start items-center">
        <li><a class="link-hover" routerLink=""> </a></li>
        <li><a class="link-hover" routerLink="">POSTS</a></li>
        <li><a class="link-hover" routerLink="">CANDIDATES</a></li>
        <li><a class="link-hover" routerLink="">HIRING TEAM</a></li>
      </ul>
      <div class="profile-image">
        <div class="flex items-center gap-4">
          <div class="pc-icons">
            <i class="notification-icons fa-regular fa-bell icon-hover"></i>
            <i class="notification-icons fa-solid fa-calendar icon-hover"></i>
            <i class="notification-icons fa-regular fa-envelope icon-hover"></i>
          </div>
          <img src="../../../../assets/imgs/Avatar.svg" alt="">
          <i class="fa-solid fa-angle-down"></i>
        </div>

        <div class="drop-down grid shadow-xl">
          <div class="flex gap-5 min-w-max info">
            <img src="../../../../assets/imgs/Avatar_1.svg" alt="">
            <div class="grid ">
              <h5>Full Name</h5>
              <p>muhammedsafwat5gmail.com</p>
            </div>
          </div>
          <ul class="mobile-links">
            <li><a  routerLink="">Dashboard</a></li>
            <li><a  routerLink="">Post</a></li>
            <li><a  routerLink="">Candidates</a></li>
            <li><a  routerLink="">Users</a></li>
          </ul>
          <div class="icons-mobile inbox">
            <div class="flex items-center gap-6 mb-4">
              <i class="notification-icons fa-regular fa-bell  "></i>
              <p>Notification</p>
            </div>
            <div class="flex items-center gap-6 mb-4">
              <i class="notification-icons fa-solid fa-calendar "></i>
              <p>Calendar</p>
            </div>
            <div class="flex items-center gap-6 mb-4">
              <i class="fa-regular fa-envelope "></i>
              <p>Inbox</p>
            </div>
          </div>
          <div class="setting-info grid">
            <div class="flex items-center gap-6">
              <p><i class="fa-solid fa-gear"></i></p>
              <p>Account Setting</p>
            </div>
          </div>
          <div class="help-info grid gap-5">
            <div class="flex items-center gap-6">
              <p>
                <i class="fa-solid fa-circle-exclamation"></i>
              </p>
              <p>Help Center</p>
            </div>
            <div class="flex items-center gap-6">
              <p>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
              </p>
              <p>Logout</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>