@import "../../../../scss/variables";
@import "../../../../scss/typography";



#applicant-profile{
    .line-bottom-border{
        border-bottom: 0.5px solid #C6D2D5;
    }
    .candidate-details , .answer-details{
        .main-header{
            font-family:$font-family-crimson ;
            font-weight: 700;
            font-size: $font-h11 ;
            line-height: 21px;
            color: $color-n-800 ;
            background-color: $color-n-100;
        }
        .sub-header{
            font-family:$font-family-open-sans ;
            font-weight: 600;
            font-size: $font-l3 ;
            line-height: 21px; 
        }
        .text{
            font-family:$font-family-open-sans ;
            font-size: $font-b3 ;
            line-height: 24px;
            color: $color-n-800 ;
        }
        .question{
            font-weight: 600;
        }
        .answer{
            color: #033F47;
            font-weight: 300; 
        }
        .containing-social-icon:hover{
            background-color:$color-n-300;
        }
        .social-icon{
            color: #627D81;
            font-size: 35px;
        }
    }
    .answer-details{
        .vip-question{
            font-size: 14px;
            color: $color-n-700;
        }
        .input-checkbox{
            width: 18px;
            height: 18px;
        }

        .text-under-photo {
            font-family: $font-family-open-sans;
            font-size: $font-b3;
            line-height: 20px;
            color: $color-n-800;
        }
    }
}


// responsive container
.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

// applies to xx-large
@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}

// applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
    .container {
        max-width: 1140px;
    }
}

//  applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .container {
        max-width: 960px;
    }
    #applicant-profile{
        .candidate-details{
            .social-icon{
                font-size: 30px;
            }
        }
    }
}

// applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .container {
        max-width: 720px;
    }
}

//  applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .container {
        max-width: 540px;
    }
    #applicant-profile{
        .candidate-details{
            .social-icon{
                font-size: 25px;
            }
        }
    }
}

//  applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}