<div>
  <section class="general-info">
    <div class="container p-top flex flex-col lg:flex-row justify-between items-center">
      <div class="img-about-container p-top r-border b-border">
        <div class="user-image ">
          <img class="loading">
        </div>
        <div class="about b-right">
          <div class="section-header loading">
            <h3></h3>
          </div>
          <div class="content">
            <p class="loading h-20"> </p>
          </div>
        </div>
      </div>
      <div class="info p-top p-left b-border">
        <div class="name-age flex items-center justify-between loading h-20">
        </div>
        <div class="user-level">
          <p></p>
        </div>
        <div class="location flex flex-wrap items-center justify-between h-20 loading">
          <div class="address">

          </div>
          <div class="ready-to-address">
          </div>
        </div>
        <div class="job-status">

        </div>
        <div class="job-preferal grid justify-start gap-3 h-20 loading mb-5">
          <p class="font-semibold"></p>
          <ul class="job-preferal-list flex flex-wrap justify-start gap-2 items-center">
            <li>
            </li>
          </ul>
        </div>
        <div class="job-preferal grid justify-start gap-3 h-20 loading">
          <p class="font-semibold"></p>
          <ul class="job-preferal-list flex flex-wrap justify-start gap-2 items-center">
            <li>
            </li>
          </ul>
        </div>

        <div class="social grid gap-4 loading h-20  mt-5">
        </div>
      </div>
    </div>
  </section>
  <section class="about-edu">
    <div class="container  flex flex-col  lg:flex-row justify-between items-center">
      <div class="edu b-border r-border p-top">
        <div class="section-header loading h-20">

        </div>
        <div class="content">
          <div class=" mb-10 loading h-56">
          </div>
          <div class=" mb-10 loading h-56">
          </div>
          <div class=" mb-10 loading h-56">
          </div>
        </div>
      </div>
      <div class="certifcation language-certifications p-bottom p-top p-left">
        <div class="section-header loading h-20">

        </div>
        <div class="content">
          <div class=" loading mb-10 p-10 ">
            <h4 class="h-12"></h4>
            <p class="h-12"></p>
            <p class="h-12"></p>
          </div>
          <div class=" loading mb-10 p-10 ">
            <h4 class="h-12"></h4>
            <p class="h-12"></p>
            <p class="h-12"></p>
          </div>
          <div class=" loading mb-10 p-10 ">
            <h4 class="h-12"></h4>
            <p class="h-12"></p>
            <p class="h-12"></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
