@import "../../../../../scss/variables";
@import "../../../../../scss/typography";

#jobseeker-hiring-process-questions {

    .textarea-title,
    .input-radio-title {
        font-family: $font-family-open-sans;
        font-size: $font-l2;
        font-weight: 700;
        line-height: $line-height-label;
        color: $color-n-800;
    }

    .radio-input {
        width: 18px;
        height: 18px;
    }

    .smal-label {
        font-family: $font-family-inter;
        font-size: $font-l3;
        line-height: 21px;
        color: $color-n-800;
    }

    .text-under-photo {
        font-family: $font-family-open-sans;
        font-size: $font-b3;
        line-height: 20px;
        color: $color-n-800;
    }

    // responsive container
    .container {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-right: auto;
        margin-left: auto;
    }

    .line-border {
        border: 0.5px solid #C6D2D5;
    }

    .main-header {
        font-family: $font-family-open-sans ;
        font-weight: 700;
        font-size: $font-b3 ;
        line-height: 21px;
        color: $color-n-800 ;
    }

    .edit-btn {
        background-color: $color-n-300;
        font-family: $font-family-open-sans ;
        font-weight: 600;
        font-size: 14px;
        padding: 1.5px 6px 1.5px 6px;
        line-height: 15.5px;
        color: #627D81;
        border: 1px solid transparent;
        transition: 0.4s ease-in-out all;

        &:hover {
            background-color: transparent;
            border: 1px solid #627D81;
            color: #627D81;
        }
    }


    .global-input {
        padding: 5px 8px;
        border-radius: 4px;
        border: 1px solid $color-n-500;
        font-size: $font-b3;
        color: $color-n-800;
        line-height: $line-height-body;
        width: 95%;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $color-n-500;
        }
    }

    .input-radio {
        width: 18px;
        height: 18px;
    }

    .label {
        font-family: $font-family-open-sans ;
        font-size: 14px;
        line-height: 21px;
        color: #033F47;
    }

    // applies to xx-large
    @media (min-width: 1400px) {
        .container {
            max-width: 1400px;
        }
    }

    // applies to x-large devices (large desktops, less than 1400px)
    @media (max-width: 1399.98px) {
        .container {
            max-width: 1140px;
        }
    }

    //  applies to large devices (desktops, less than 1200px)
    @media (max-width: 1199.98px) {
        .container {
            max-width: 960px;
        }

    }

    // applies to medium devices (tablets, less than 992px)
    @media (max-width: 991.98px) {
        .container {
            max-width: 720px;
        }
    }

    //  applies to small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) {
        .container {
            max-width: 540px;
        }
    }


}