@import "../../../../scss/variables";
@import "../../../../scss/typography";

#applicant-comments{
    
    .bottom-line-border{
        border-bottom: 0.5px solid #C6D2D5;
    }
    .line-border{
        border: 0.5px solid #C6D2D5;
    }
    .text{
        font-family:$font-family-open-sans ;
        font-size: 14px;
        line-height: 18px;
        color: #2F5D64;
    }
    .span-text{
        font-weight:600 ;
        color: $color-n-800;
    }
    .another-text{
        color: #2F5D64;
        font-size: 12px;
    }
    .no-more-text{
        font-family:$font-family-open-sans ;
        font-size: 12px;
        line-height: 18px;
        color: #A1B3B6;
    }
}

