@import "../../../../scss/variables";
@import "../../../../scss/typography";


.multi-selection {
    .job-suggested {
        .btn {
            padding: 20px 10px;
            color: $color-white;
            font-size: $font-l3;
            font-family:$font-family-open-sans;
            font-weight: 600;
            line-height: $line-height-body;
            border-radius: 5px;
            background-color: $color-sec-100;
            transition: 0.2s all;

            &:hover {
                background-color: $color-sec-500;
            }

            &:focus {
                background-color: $color-sec-500;
            }
        }

        input:checked+label.btn {
            background-color: $color-sec-500;
        }
    }

    @media (max-width: 1199.98px) {
        .job-suggested {
            .btn {
            padding: 20px 0px;
            }
        }
    }

}