@import "../../../../scss/variables";
@import "../../../../scss/typography";
.change-password-request{
  background-color: #F8F8F1;
  height: 100vh;
  .container{
    .set-verifacation-email{
      padding : 28px 32px ;
      width: 450px;
      background-color: white;
      border-radius: 3px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      @media (max-width:$breakpoint-small) {
        max-width: 350px;
        padding : 22px 26px ;
      }
      .logo-image{
        margin-bottom: 20px;
        img{
          max-width: 85px;
        }
      }
      .title{
        h5{
          font-family: 'Crimson Text';
        }
      }
      .rest-password-form{
        div{
          height: 36px;
          position: relative;
          input{
            font-size: 13px;
            height: 100%;
            padding: 5px 10px;
            border-radius: 3px;
            border:1px solid #2B786C;
            &:focus{
              outline: none;
              border:2px solid #2B786C;
            }
          }
          img{
            position: absolute;
            top: 12px;
            right: 8px;
            height: 16px;
            width: 16px;

          cursor: pointer;
          }
        }
        .reset-button{
            height: 36px;
            background-color:#2B786C;
            border-radius: 3px;
            color:white;
            padding:8px 20px ;
            font-size: 14px;
        }
      }
    }
  }
  .message-panle{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: rgba(62, 62, 62, 0.258);
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    .container{
      margin:0 auto;
      max-width: 370px;
      padding:35px 25px ;
      background-color: white;
      border-radius: 3px;
      position: relative;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      img{
        max-width: 130px;
        margin: 0 auto;
      }
      p{
        font-size: 18px;
      }
    }
    button.close-button{
      font-size: 29px;
      width: auto;
      height: auto;
      position: absolute;
      right: 12px;
      top: -3px;
      color: #757373;
    }

  }
  .error-message{
    font-size: 13px;
    color: rgb(229, 0, 0);
    height: min-content !important;
  }
  button.ok-button{
    background: $color-sec-500;
    border-radius: 4px;
    padding: 8px 13px;
    width: 30%;
    margin:0 auto;
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin-top: 25px;
    &:hover{
      background: $color-sec-300;
    }
  }
}
