<div class="change-password-request">
  <div class="container flex justify-center items-center my-0 mx-auto h-full">
    <div class="set-verifacation-email h-auto w-auto ">
      <div class="logo-image w-full flex items-center justify-center">
        <img src="../../../../../assets/imgs/LOGO.svg" alt="">
      </div>
      <div class="title" >
        <h5 class="text-4xl text-center font-semibold">Enter your new password ?</h5>
      </div>
      <form [formGroup]="restPasswordForm" (ngSubmit)="submit()" class="rest-password-form mt-11" >
        <div class="">
          <input #passInput1 class="w-full" formControlName="password" type="password" name="password" placeholder="New password">
          <img  (click)="togglePassword(passInput1)" src="../../../../../assets/auth/eye-slash.svg" alt="">
        </div>
        <div class="error-message pl-1" *ngIf="restPasswordForm.get('password')?.hasError('required')">
          Password is required
        </div>
        <div class="error-message pl-1" *ngIf="restPasswordForm.get('password')?.hasError('minlength')">
          Password must be at least 8 characters long
        </div>

        <div class="mt-10">
          <input #passInput2 class="w-full" formControlName="confirmPassword" type="password"  name="confirmed-password" placeholder="Confirm new password">
          <img (click)="togglePassword(passInput2)" src="../../../../../assets/auth/eye-slash.svg" alt="">
        </div>
        <div class="error-message mt-3 pl-1" *ngIf="restPasswordForm.get('confirmPassword')?.hasError('mismatch')">
            Passwords do not match
        </div>
        <div class="error-message pl-1" *ngIf="isError">
          {{errorMesg}}
      </div>
        <button type="submit" class="mt-10 reset-button w-full text-center">Confirm new password</button>
      </form>
    </div>
  </div>
  <div *ngIf="messagePanel" class="message-panle">
    <div class="container grid justify-center align-middle gap-6">
    <!-- button class="close-button" (click)="close()">&times;</!-->
      <div class="box grid justify-center">
        <img src="../../../../../assets/imgs/Check.svg" alt="">
        <p>Your password changed successfully</p>
        <button class="ok-button mt-10 w-full text-center" (click)="close()">Ok</button>
      </div>
    </div>
  </div>
</div>
