// Define color variables
$color-p-500: #e0f780;
$color-p-300: #e6f999;
$color-p-100: #ecfab3;
$color-n-900: #1f2223;
$color-n-800: #033f47;
$color-n-700: #2f5d64;
$color-n-600: #627d81;
$color-n-500: #a1b3b6;
$color-n-400: #c6d2d5;
$color-n-300: #e2e8e9;
$color-n-200: #f5f9fa;
$color-n-100: #f8f8f1;
$color-n-50: #f6f6f6;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: white;
}

.flipping {
  width: 105.6px;
  height: 105.6px;
  color: #e0f780;
  background: linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 0 100%;
  background-size: 50.1% 50.1%;
  background-repeat: no-repeat;
  animation: flipping-r4bhsuhg 0.8s infinite linear;
}

.flipping::before,
.flipping::after {
  content: "";
  position: absolute;
  inset: 0 50% 50% 0;
  background: currentColor;
  transform: scale(var(--s, 1)) perspective(264px) rotateY(0deg);
  transform-origin: bottom right;
  animation: flipping-x1xj50hg 0.4s infinite linear alternate;
}

.flipping::after {
  --s: -1, -1;
}

@keyframes flipping-r4bhsuhg {

  0%,
  49.99% {
    transform: scaleX(1) rotate(0deg);
  }

  50%,
  100% {
    transform: scaleX(-1) rotate(-90deg);
  }
}

@keyframes flipping-x1xj50hg {
  49.99% {
    transform: scale(var(--s, 1)) perspective(264px) rotateX(-90deg);
    filter: grayscale(0);
  }

  50% {
    transform: scale(var(--s, 1)) perspective(264px) rotateX(-90deg);
    filter: grayscale(0.6);
  }

  100% {
    transform: scale(var(--s, 1)) perspective(264px) rotateX(-180deg);
    filter: grayscale(0.6);
  }
}