<div class="first-page">
  <div class="all-education-cart">
    <form [formGroup]="educationForm"
  class="educational-level-info global-rounde   shadow-lg  bg-white p-16 flex flex-col gap-10 ">
      <div class=" educational-level bg-white flex flex-col gap-8">
        <div class="global-section-label">
          <label for="job-type">What is your educational level?<span class="span-text"> If you are currently
              studying, select your expected degree.</span></label>
        </div>

        <!-- ============================================================================================= -->
        <!-- Education List -->
        <ng-container *ngFor="let item of educationList">
          <div class="selected-education-container flex flex-col gap-8">
            <div class="flex items-center justify-between ">
              <div class=" ">
                <h5 class="field-header">{{item.fieldOfStudy}} </h5>
              </div>
              @if(item?.id){
              <div class="buttons flex items-center gap-6 ">
                <div class=""><button class="btn flex justify-center items-center gap-3"
                    (click)="scrollToEditForm(item)">Edit <img class="icon"
                      src="../../../../../../assets/imgs/edit (1).svg" alt="" width="20" height="20"></button></div>
                <div class=""><button class="btn flex justify-center items-center gap-3"
                    (click)="deleteEducation(item?.id || '')">Delete <img class="icon"
                      src="../../../../../../assets/imgs/trash-new.svg" alt="" width="20" height="20"></button></div>
              </div>
              }
            </div>
            <div class="">
              <p class="text">{{item.institution}}</p>
            </div>
            <div class="">
              <p class="text">{{jobSeekerProfileService.isoToDate(item.start).getFullYear()}} -
                {{jobSeekerProfileService.isoToDate(item.end).getFullYear()}}</p>
            </div>
            <div class="">
              <p class="text">{{item.grade}}</p>
            </div>

          </div>
        </ng-container>
        <!-- ============================================================================================= -->
        <!-- Education Loading -->
        @if(isEducationListLoading){
        <div class="selected-education-container flex flex-col gap-8">
          <div class="flex items-center justify-between ">
            <div class=" ">
              <h5 class=" loader-min-h  bg-n-300 loader-big-w "> </h5>
            </div>
            <div class="buttons flex items-center gap-6 ">
              <div class="loader-min-w loader-min-h bg-n-300"></div>
              <div class="loader-min-w loader-min-h bg-n-300"></div>

            </div>
          </div>
          <div class="">
            <p class="text bg-n-300 loader-min-h"></p>
          </div>
          <div class="">
            <p class="text bg-n-300 loader-min-h"></p>
          </div>
          <div class="">
            <p class="text bg-n-300 loader-min-h"></p>
          </div>
        </div>
        }


        <div [ngClass]="{hidden: isFormVisible}" class="add-form-container">
          <button class="global-button " id="add-education-btn" (click)="displayEducationForm()">
            Add Education <span> +</span></button>
        </div>

        <!-- ===================================================================== -->
        <!-- ===================================================================== -->

        <div [ngClass]="{hidden: !isFormVisible}" class=" selector  w-full " id="education-form-start">
          <app-single-selection-squares [inputOptionsList]="educationLevelsList" [selectedOption]="educationLevelValue"
            (selectedOptionChange)="handleSelectedEducationLevel($event)"></app-single-selection-squares>
        </div>
      </div>
      <div [ngClass]="{hidden: !isFormVisible}" class=" degree-details bg-white  flex flex-col gap-10 justify-start">
        <div class="">
          <label class=" global-section-label" for="Field-of-Study"> Degree Details</label>
        </div>
        <div class=" degree-inputs flex flex-col gap-8 ">
          <div class="field-of-study  flex flex-col gap-3">
            <label class="global-small-label  " for="Field-of-Study">Field of Study
              Optional</label>
            <input class="global-input global-half-width" type="text" formControlName="studyField" name="studyField"
              id="Field-of-Study" placeholder="e.g., Engineering ">
          </div>
          <div class="university-studying flex flex-col gap-3">
            <label class="global-small-label degree-input-label " for="universty">University/Institution
              Optional</label>
            <input class="global-input global-half-width" type="text" name="institution" formControlName="institution"
              id="universty" placeholder="e.g., Al-Azhar University ">
          </div>
          <div class="when-achieve-degree flex flex-col gap-3">
            <!-- ========================================================= -->
            <div class="years-slector  w-full">
              <div class=" w-full flex flex-col gap-8">
                <div class=" flex flex-col gap-3  ">
                  <label class="global-small-label global-half-width degree-input-label " for="degree-start-year">When
                    did
                    your Start degree?
                  </label>
                  <select class="global-input global-half-width language-select" id="degree-start-year"
                    formControlName="startYear" name="startYear">
                    <option *ngFor="let year of yearsList" value="{{year}}">
                      {{year}}
                    </option>
                  </select>
                </div>
                <div class="level flex flex-col gap-1">
                  <label class="global-small-label degree-input-label " for="degree-end-year">When did you achieve
                    your
                    degree?
                    <span class="span-text">(or when do you expecting it?)</span></label>
                  <select formControlName="endYear" name="endYear" placeholder="End Year"
                    class="global-input global-half-width " id="degree-end-year">
                    <option *ngFor="let year of yearsList" value="{{year}}">
                      {{year}}
                    </option>
                  </select>
                </div>
              </div>

            </div>
            <!-- ========================================================= -->
          </div>
          <div class="your-grade flex flex-col gap-1">
            <label class="global-small-label degree-input-label " for="grade">Grade
              Optional</label>
            <select class="global-input global-half-width" type="text" name="grade" formControlName="grade" id="grade"
              placeholder="Select">
              <option *ngFor="let grade of gradesList" value="{{grade.description}}">{{grade.grade}} /
                {{grade.description}} / {{grade.percentageRange}}</option>
            </select>
          </div>
        </div>

        <p class="error-message " [ngClass]="{'hidden' : !educationForm.invalid || !educationForm.touched}">
          Please
          Complete All Education
          Fields</p>
        <div class="save-form-buttons flex gap-12">
          <ng-container *ngIf="!isSaveChangesVisible">
            <button [disabled]="educationForm.invalid" class="global-button "
              (click)="saveEducationAndMoreButton()">Save
              &
              Add
              More</button>
            <button [disabled]="educationForm.invalid" class="global-button "
              (click)="saveEducationButton()">Save</button>
          </ng-container>
          <ng-container *ngIf="isSaveChangesVisible">
            <button [disabled]="educationForm.invalid" class="global-button " (click)="updateEducation()">Save
              Changes</button>
          </ng-container>

        </div>
      </div>
    </form>
  </div>
</div>