<header class="profile-header">
  <div class="container flex justify-between items-center">
    <div class="logo animate-pulse">
    </div>
    <div class="nav-bar">
      <ul class="profile-links  justify-start items-center">
        <li><a class="animate-pulse"
             routerLink=""></a></li>
        <li><a class="animate-pulse"
             routerLink=""></a></li>
        <li><a class="animate-pulse"
             routerLink=""></a></li>
        <li><a class="animate-pulse"
             routerLink=""></a></li>
      </ul>
      <div class="profile-image flex">
        <div class="animate-pulse"></div>
        <span class="animate-pulse"></span>
      </div>
    </div>
  </div>
</header>