@import "../../../../scss/variables";
@import "../../../../scss/typography";

#applicant-offer {
    .line-border {
        border: 0.5px solid #C6D2D5;
    }

    .main-header {
        font-family: $font-family-open-sans ;
        font-weight: 700;
        font-size: $font-b3 ;
        line-height: 21px;
        color: $color-n-800 ;
    }

    .ass-type {
        font-family: $font-family-open-sans ;
        font-weight: 700;
        font-size: 12px;
        padding: 2px 4px;
        line-height: 18px;
        border-radius: 3px;
        background-color: $color-n-400 ;
    }

    .text {
        font-family: $font-family-open-sans ;
        font-size: $font-b4 ;
        line-height: 24px;
        color: $color-n-800 ;
    }

    .answer {
        color: #033F47;
        font-weight: 600;
        font-size: $font-b4 ;
        line-height: 24px;
        color: $color-n-700 ;
    }

    .global-input {
        padding: 5px 8px;
        border-radius: 4px;
        border: 1px solid $color-n-500;
        font-size: $font-b3;
        color: $color-n-800;
        line-height: $line-height-body;
        width: 150px;

        &:focus {
            outline: none;
        }

    }

    .global-button {
        padding: 8px 16px 8px 16px;
        color: white;
        font-weight: 700;
        font-size: $font-l2;
        border-radius: 8px;
        font-family: $font-family-open-sans;
        line-height: $line-height-heading;
        background-color: $color-sec-500;

        .span-text {
            color: $color-n-500;
            font-weight: 700;

        }

    }

    .pdf-box {
        background-color: $color-n-100;

        .text {
            font-family: $font-family-open-sans ;
            font-size: 12px;
            font-weight: 600;
            color: #033F47;
            line-height: 15px;
        }

        .text-colr {
            color: #A1B3B6;
            font-size: 10px;
        }
    }

    .no-more-text{
        font-family:$font-family-open-sans ;
        font-size: 12px;
        line-height: 18px;
        color: #A1B3B6;
    }
}

// responsive container
.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}