@import "../../../../scss/variables";
@import "../../../../scss/typography";
/* navbar */

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  flex-shrink: 0;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

input:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

#login-page {
  background-color: $color-n-100;
  padding-bottom: 71px;
  height: 100vh;

  .frame-18 {
    padding: 32px 44px;
    width: 50%;

    .frame-17 {
      .welcome-back {
        color: $color-n-800;
        font-family: $font-family-crimson;
        font-size: $font-h7;
        font-weight: 700;
        line-height: $line-height-heading;
      }

      .s-ign-up-application {

        .all-inputs {
          .input {
            input.ng-invalid.ng-touched {
              border: 1px solid red;
            }
          }

          .error-message {
            color: rgba(255, 0, 0, 0.723);
            font-size: small;
            margin-top: 5px;
          }
        }

        .input-label,
        .error-message {
          color: $color-n-800;
          font-family: $font-family-open-sans;
          font-size: $font-l2 ;
          line-height: $line-height-body;
          font-weight: 400;
        }

        .input-field {
          background: $color-n-200;
          border: 1px solid $color-n-800;
          font-size: $font-b3 ;
          border-radius: 4px;
          height: 44px;
          padding-left: 10px;
          color: $color-n-800;
        }

        .password-section {
          .new-containing {
            border-radius: 4px;

            .eye-icon-button {
              background: $color-n-600;
              padding: 10px;
              border-radius: 0px 3px 3px 0px;
              right: 0.6px;
              top: 0.8px;
              bottom: 0.8px;
            }
          }
        }

        .sign-up-with-google2 {
          button {
            background: $color-sec-500;
            color: white;
            border-radius: 4px;
            padding-block: 10px;
            font-family: $font-family-open-sans;
            font-size: 16px;
            font-weight: 600;
            line-height: $line-height-body;

            &:disabled {
              opacity: 0.5;

              &:hover {
                cursor: default;
              }
            }
          }

          .error {
            .error-message {
              color: rgba(255, 0, 0, 0.723);
              font-size: large;
              margin-bottom: 10px;
            }
          }

        }

      }

      .terms-and-condition {
        color: $color-n-900;
        font-family: $font-family-open-sans;
        font-size: $font-l3;
        font-weight: 400;
        line-height: $line-height-heading;

        a {
          color: #0055d9;
        }
      }

      .last-info-section {
        .frame-21 .rule2 {
          height: 1px;
          background-color: #d2d3d3;
        }

        .have-accout-login-link {
          color: black;
          font-family: $font-family-open-sans;
          font-size: $font-b3;
          font-weight: 600;
          line-height: $line-height-body;

          .ankor {
            color: #0055d9;
          }
        }
      }
    }
  }
}

// media querey


// applies to xx-large
@media (min-width: 1400px) {
  .container {
    max-width: 1100px;
  }
}

// applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
}

//  applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}

// applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }

  #login-page {
    .frame-18 {
      width: 75%;
    }
  }

}

//  applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }

  #login-page {
    .frame-18 {
      width: 85%;

    }
  }
}

//  applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #login-page {
    .frame-18 {
      width: 90%;

    }
  }
}