@import "../../../../scss/variables";
@import "../../../../scss/typography";

/* section-footer */
* {
  box-sizing: border-box;
}

.footer {
  color: $color-white;
  padding-block: 13rem;
  gap: 13rem;
  background: $color-n-800;


  a {
    &:hover {
      color: $color-p-500;
    }
  }

  .first-column {
    gap: 22px;

    .media-icon {
      gap: 22px;
      
    }

    .copyright {
      color: white;
      font-family:$font-family-open-sans;
      font-size: $font-l3;
      line-height: $line-height-label;
    }
  }

  .links-columns {
    gap: 13rem;

    .wrap-text {
      color: white;
      font-family: $font-family-crimson;
      font-size: $font-b2;
      font-weight: 600;
      line-height: $line-height-heading;
      &:hover {
        color: $color-p-500 ;
      }
    }

    .down-text {
      color: white;
      font-family: $font-family-open-sans;
      font-size: $font-l2;
      line-height: $line-height-heading;

      &:hover {
        color: $color-p-500 ;
      }

    }
  }

}


// applies to xx-large
@media (min-width: 1400px) {}

// applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  .footer {
    gap: 10rem;
    padding-left: 8rem;
    padding-right: 8rem;

  }
}

//  applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .footer {
    gap: 10rem;
    padding-left: 4rem;
    padding-right: 4rem;
    .first-column{
      gap: 16px;
    }
    .links-columns {
      gap:8rem;
      .down-text {
        font-size: $font-l3;
      }
    }
  }
}

// applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .footer {
    flex-direction: column;

    .links-columns {
      gap: 13rem;
      .wrap-text{
        font-size: $font-b2;
      }
      }

    }
  }
  
//  applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .footer {
    .links-columns {
      column-gap: 35rem;
      row-gap: 15rem;
      .down-text{
      font-size: $font-l2; 
      }
      .second-column,.third-column,.fourth-column,.fifth-column{
        gap: 5rem;
      }

      }
  }
}

// applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .footer {
    .links-columns {
      column-gap: 20rem;
      }
  }
}