<div class="footer flex w-full justify-center items-center ">
  <div class="first-column footer-col flex justify-center items-center flex-col">
    <div class="logo flex flex-col justify-center items-center">
      <div class="hi-logo"><img src="assets\imgs\onbording\LOGO.svg" alt=""></div>
    </div>
    <div class="media-icon  flex justify-center items-center">
      <div>
        <a  href="#">
          <img class="icon" src="assets\imgs\onbording\Facebook.svg" alt="">
        </a>
      </div>
      <div>
        <a href="#">
          <img  class="icon" src="assets\imgs\onbording\LinkedIn.svg" alt="">
        </a>
      </div>
      <div>
        <a href="#">
          <img class="icon" src="assets\imgs\onbording\Twitter.svg" alt="">
        </a>
      </div>
    </div>
    <div class="copyright ">
      <p class="self-stretch text-center">Copyright © <span>2023</span> by HIRExHIRE, <br>Inc. All rights reserved.</p>
    </div>
  </div>
  <div class="links-columns grid md:grid-cols-4 sm:grid-cols-2 grid-cols-2 justify-center items-center ">
    <div class="second-column footer-col  flex flex-col gap-36  ">
      <div><a class="wrap-text" href="#">Contact us</a></div>
      <div class="company-link flex flex-col items-start gap-5">
        <div><a class="down-text" href="#">Email us</a></div>
        <div><a class="down-text" href="#">Phone call us</a></div>
      </div>
    </div>
    <div class="third-column footer-col flex flex-col gap-36">
      <div> <a class="wrap-text" href="#">Account</a></div>
      <div class="resources-link flex flex-col gap-5 items-start">
        <div><a class="down-text" href="#">Creat account</a></div>
        <div><a class="down-text" href="#">Sign in</a></div>
      </div>
    </div>
    <div class="fourth-column footer-col flex flex-col gap-36 ">
      <div><a class="wrap-text" href="#">Company</a></div>
      <div class="company-info flex flex-col gap-5 items-start">
        <div><a class="down-text" href="#">About us</a></div>
        <div><a class="down-text" href="#">For business</a></div>
      </div>
    </div>
    <div class="fifth-column footer-col flex flex-col gap-36">
      <div><a class="wrap-text" href="#">Resources</a></div>
      <div class="center-help flex flex-col gap-5 items-start">
        <div><a class="down-text" href="#">Help center</a></div>
        <div><a class="down-text" href="#">Privacy & terms</a></div>
      </div>
    </div>
  </div>
</div>