<div class="profile-loader">
  <header class="profile-header">
    <div class="container flex justify-between items-center">
      <div class="logo animate-pulse">
      </div>
      <div class="nav-bar">
        <ul class="profile-links  justify-start items-center">
          <li><a class="animate-pulse"
               routerLink=""></a></li>
          <li><a class="animate-pulse"
               routerLink=""></a></li>
          <li><a class="animate-pulse"
               routerLink=""></a></li>
          <li><a class="animate-pulse"
               routerLink=""></a></li>
        </ul>
        <div class="profile-image flex">
          <span class="icon animate-pulse"></span>
          <span class="icon animate-pulse"></span>
          <span class="icon animate-pulse"></span>
          <div class="animate-pulse"></div>
          <span class="animate-pulse"></span>
        </div>
      </div>
    </div>
  </header>
  <section class="company-view pt-32">
    <div class="container">
      <div class="all-containing m-auto flex flex-col gap-14 ">
        <div class="intro-section  line-border bg-white">
          <div class="photo-cover   flex flex-col justify-center items-center gap-10 ">
            <div class="add-btn ">
            </div>
            <div class="add-cover-text">
            </div>
          </div>
          <div class="company-info flex flex-col ">
            <div class="comp-profile-photo  px-20 py-8  flex items-center justify-end ">
              <div class="photo  flex items-center justify-center shadow-inner line-border">
                <span class="loader"></span>
              </div>

              <div class="edit-photo animate-pulse  pin-edit-icon  "></div>
            </div>
            <div class="comp-info px-20 py-8  flex flex-col items-start justify-start gap-4 ">
              <div class="comp-name name animate-pulse ">
              </div>
              <div class=" flex flex-col  w-full animate-pulse   gap-3">
                <div class="comp-tagline">
                  <div class="tagline "></div>
                </div>
                <div class="comp-industry-location flex flex-col gap-3">
                  <div class="industry-info"></div>
                  <div class=" flex items-center justify-start gap-3 location">
                  </div>
                  <div class=" flex items-center justify-start gap-3 rank-hire">
                  </div>
                </div>
                <div class=" flex items-center  gap-5 ps-4 pt-4">
                  <div class="subscribe-view-btn flex rounded-full items-center justify-center gap-3"></div>
                  <div class="subscribe-view-btn rounded-full bg-transparent"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="under-sections  flex flex-col gap-14   pb-28">
          <div class="about-section  line-border shadow-l  bg-white px-20 py-8 flex flex-col gap-10">
            <div class="first-row animate-pulse  flex items-center justify-between ">
              <div class="section-header ">
              </div>
              <div class="edit-button">
              </div>
            </div>
            <div class="second-row animate-pulse  w-full flex flex-col gap-4">
              <div class="w-full text "></div>
              <div class="w-full text"></div>
              <div class="w-full text"></div>
              <div class="w-full text"></div>
              <div class="w-full text"></div>
              <div class="w-full text vip-text"></div>
              <div class="w-full text vip-text"></div>
              <div class="w-full text vip-text"></div>
              <div class="w-full text vip-text"></div>
              <div class="w-full text vip-text"></div>
              <div class="w-full text vip-text"></div>
              <div class="w-full text vip-text"></div>
            </div>
            <div class="third-row animate-pulse flex flex-col gap-5">
              <div class="title"></div>
              <div class="text"></div>
            </div>
            <div class="fourth-row animate-pulse flex flex-col gap-5">
              <div class="title"></div>
              <div class="text"></div>
            </div>
            <div class="fifth-row animate-pulse flex flex-col gap-5">
              <div class="title"></div>
              <div class="text"></div>
            </div>
            <div class="six-row animate-pulse flex items-center  gap-4">
              <div class="social-icon "></div>
              <div class="social-icon "></div>
              <div class="social-icon "></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>