@import "../../../../scss/_variables.scss";
@import "../../../../scss/_typography.scss";

.assessment-form {
  color: $color-n-800;
  background-color: $color-white;
  max-width: 50rem;
  padding-bottom: 5rem;
  max-height: 90vh ;
  overflow-y: scroll ;

  .form-header {
    font-size: $font-h7;
    font-weight: 700;
    font-family: $font-family-crimson;
    background-color: $color-n-100;
    margin-bottom: 3rem;
    padding: 2rem 4rem;
  }
  .input-container  {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 2rem;
    font-size: $font-b3;
    display: block;
    width: 100% ;

    * {
      display: block;
    }

    .custom-file-input{
      border: solid 1px $color-n-500;
      outline: none;
      border-radius: 0.7rem;
      width: 100%;
      font-size: $font-b3;
      padding-right: 1rem ;
      *{
        display: inline-block ;
      }
      .browse{
        background-color: $color-n-400 ;
        color:$color-n-800 ;
        font-weight: 500 ;
        margin-right: 1rem ;
        padding: 1rem;
        cursor: pointer ;
      }

    }

    .label {
      font-size: $font-b3;
      font-weight: 600;
      font-family: $font-family-open-sans;
      margin-left: 1px;
      margin-bottom: 1rem;


    }
    input , select ,textarea  {
      border: solid 1px $color-n-500;
      outline: none;
      border-radius: 0.7rem;
      padding: 1rem;
      width: 100%;
      font-size: $font-b3;
      position: relative ;

      &[type="file"]{
        padding:  0 ;
        display: none ;
      }
      &::file-selector-button{
        padding: calc(1rem + 1px);
        color:$color-n-800 ;
        font-weight: 500 ;
        border: none ;
      }
      &:focus {
        border-color: $color-n-700;
      }
    }
    textarea{
      min-height: 10rem
    }
  }
  .btn-container {
    padding-left: 4rem;
    padding-right: 4rem;
    .btn {
      display: inline;
      font-size: $font-b3;
      font-weight: 500;
      margin-top: 3rem;
      margin-right: 2rem;
      padding: 1rem 2rem;
      border-radius: 0.7rem;
      transition: all 0.3s;

      &.btn-submit {
        background-color: $color-sec-500;
        color: $color-white;
        &:hover {
          background-color: darken($color-sec-500, 5%);
        }

        &:disabled{
          background-color: $color-n-400;
        }
      }
      &.btn-discard {
        color: #ea2a2a;
        &:hover {
          background-color: darken(#fff, 10%);
        }
      }
    }
  }
}


